<h1 class="w3-container w3-green">Food for Thought</h1>

<table class="w3-table-all">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Restaurant</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let menuItem of menuItemList">
            <td><a [routerLink]="['/details', menuItem.id]">{{ menuItem.name }}</a></td>
            <td>{{ menuItem.description }}</td>
            <td>{{ menuItem.restaurantName }}</td>
        </tr>
    </tbody>
</table>
<div>
    <p class="w3c-align-center w3-margin"><a [routerLink]="['/create']">Create New </a></p>
</div>
<h5 class="w3-container w3-green w3-right-align">D3OP</h5>