<div>
    <div>
        <table class="w3-table-all" style=" opacity: 0.7;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Restaurant</th>
                    <div *ngIf="features?.ratings == true">
                        <th>Rating</th>
                    </div>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let menuItem of menuItemList">
                    <td><a [routerLink]="['/details', menuItem.id]">{{ menuItem.name }}</a></td>
                    <td>{{ menuItem.description }}</td>
                    <td>{{ menuItem.restaurantName }}</td>
                    <div *ngIf="features?.ratings == true">
                        <td>
                            <rating [(ngModel)]="menuItem.rating"
                                    [readonly]="true"></rating>
                        </td>
                    </div>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<button id="create-new-btn"
        class="w3-btn w3-margin"
        [routerLink]="['/create']">Create New</button>
