<h1 class="w3-container w3-green">Food for Thought</h1>
<h3>Details for your selection:</h3>
<div>
    <table class="w3-margin">
        <tr>
            <td>Food:</td>
            <td>{{ menuItem.name }}</td>
        </tr>
        <tr><td>Description:</td>
            <td>{{ menuItem.description }}</td>
        </tr>
        <tr>
            <td>Restaurant:</td>
            <td>{{ menuItem.restaurantName }}</td>
        </tr>
    </table>
</div>

<div class="w3-container w3-green">
        <h6>
            <a [routerLink]="['/view-list']" class="w3-margin">View All Menu Items</a>
            <a [routerLink]="['/create']" class="w3-margin">Create New Menu Item</a>
        </h6>
</div>